@media (min-width: 1200px)
            {
                p.set
                {
                    width: 100%;
                }
            }
            @media (min-width: 952px) and (max-width: 1199px)
            {
                p.set
                {
                    width: 50%;
                }
            }
            
            *{
                font-style: italic;
            }
            body{
                margin: 20px;
                border: 2px dashed black;
                padding: 20px;
                background-color: gray;
            }
            .set
            {
                color: orange;
            }
            
            p.set2 {
                color: blue;
                font-family: helvetica;
                font-size: 20px;
                
            }
            h1.set{
                animation: ease-in;
                color: green;
                text-align: left;
                
                
            }
            p.set:hover                         
            {
                background-color: black;
                color:white;
                font-size: 40px;
                
            }
